
/*services*/

.services {
    display: flex;
}

.services__item {
    flex: 1 1 0;
    padding-left: 85px;
    padding-right: 35px;
    position: relative;
}

.services__icon {
    position: absolute;
    top: 0;
    left: 25px;
    z-index: 1;
}

.services__title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.services__text {
    font-size: 13px;
    color: #999;
}

@media screen and (max-width:720px){
    .services{
        flex-direction: column;
    }
    .services__item{
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
}