.about-me{
    height: 90vh;
    padding-top: 10vh;
    position: relative;
} 
.about-me-content{
    margin-left: 8vw;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
}

.aboutme-title-con{
    color: $white;
    display: flex;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 8vw;
}
.aboutme-title-out{
    -webkit-text-stroke: 1px $white;
    -webkit-text-fill-color: transparent;
    margin-right: 20px;
}

.about-me-text{
    font-size: 3vw;
    color: $white;
    font-weight: 500;
    max-width: 60vw;
    width: 100%;
}

.about-img{
    max-width: 30vw;
    width: 100%;
    position: absolute;
    z-index: -2;
    right: 8vw;
    top: 50%;
    transform: translateY(-50%);
    opacity: .75;
}
.about-me-back{
    white-space: nowrap;
    font-size: 25vw;
    -webkit-text-stroke: 1px $white;
    -webkit-text-fill-color: transparent;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: .2;
}