body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
  overflow: hidden;
  background-color: #000;
  cursor: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cursor {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
  opacity: .5;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  transition-property: background, transform;
  transition-property: background, transform, -webkit-transform;
  z-index: 100;
}

.cursor-grow {
  -webkit-transform: scale(1.5) translate(-50%, -50%);
          transform: scale(1.5) translate(-50%, -50%);
  background: #FFC815;
  opacity: .8;
}

.cursor-out {
  display: none;
}

nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  padding: 0px 50px;
  width: 100%;
  z-index: 300;
  opacity: 0;
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  margin-left: 100px;
  position: relative;
  z-index: 1000;
}

.burger:hover .line {
  width: 25px;
}

.burger:hover .burger-circle {
  stroke-dashoffset: 0;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.line {
  height: 3px;
  width: 25px;
  border-radius: 30px;
  background-color: #000;
  margin-bottom: 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.line2 {
  width: 20px;
}

.line3 {
  width: 12px;
  margin-bottom: 0;
}

.burger-circle {
  position: absolute;
  z-index: 100000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  stroke-dasharray: 122.5;
  stroke-dashoffset: 122.5;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 80px;
}

.nav-link {
  margin-right: 10px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.nav-link:last-child {
  margin-right: 0px;
}

.nav-social-links {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-social-links .nav-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.nav-social-links .nav-social-link img {
  width: 25px;
  height: 25px;
}

.nav-social-links .nav-social-link:last-child {
  margin-right: 0;
}

.nav-social-icon-white {
  fill: white;
}

.nav-link-hover {
  background-color: #FFC815;
  scale: 1.05;
}

.nav-socialLink-hover {
  scale: 1.1;
}

.navLink-social-path-on {
  fill: #fff;
}

.nav-logo-hover {
  scale: 1.1;
}

.introAnim-wrapper {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow-x: hidden;
}

.introAnim-wrapper-black {
  right: 0%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.introAnim-line {
  font-size: 6vw;
  color: #fff;
  font-weight: bold;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.introAnim-line-black {
  color: #000;
}

.introAnim-box {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30vw;
  stroke-dasharray: 1874px;
  stroke-dashoffset: 0px;
}

.introAnim-box-black {
  top: 50%;
  right: 0%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  z-index: -1;
}

.introAnimBg-white {
  position: relative;
  z-index: 1;
  background-color: #fff;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.contentIntro-container {
  width: 100%;
  height: 100vh;
}

.intro-back-white {
  overflow: hidden;
  height: 50vh;
  background-color: #fff;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  opacity: 0;
}

.intro-title {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 8vw;
  font-weight: 600;
  left: 50%;
  text-align: center;
  line-height: 100%;
  position: absolute;
}

.intro-title-black {
  top: 80%;
}

.intro-title-white {
  color: #fff;
  top: 40%;
  z-index: -2;
}

.intro-title-sup {
  white-space: nowrap;
  font-size: 3vw;
  background-color: #fff;
  font-weight: 100;
  position: absolute;
  top: 65%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  letter-spacing: 0.18em;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.about-me {
  height: 90vh;
  padding-top: 10vh;
  position: relative;
}

.about-me-content {
  margin-left: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutme-title-con {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 8vw;
}

.aboutme-title-out {
  -webkit-text-stroke: 1px #fff;
  -webkit-text-fill-color: transparent;
  margin-right: 20px;
}

.about-me-text {
  font-size: 3vw;
  color: #fff;
  font-weight: 500;
  max-width: 60vw;
  width: 100%;
}

.about-img {
  max-width: 30vw;
  width: 100%;
  position: absolute;
  z-index: -2;
  right: 8vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: .75;
}

.about-me-back {
  white-space: nowrap;
  font-size: 25vw;
  -webkit-text-stroke: 1px #fff;
  -webkit-text-fill-color: transparent;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: .2;
}
/*# sourceMappingURL=main.css.map */