$black: #000;
$white: #fff;
$orange: #FFC815;

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    overflow: hidden;
    background-color: $black;
    cursor: none;
}

h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before{
    box-sizing: border-box;
    // cursor: none;
}

// cursor
.cursor{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: grey;
    opacity: .5;
    position: absolute;
    transform: translate(-50%,-50%);
    transition: all .2s ease;
    transition-property: background, transform;
    z-index: 100;
}

.cursor-grow{
    transform: scale(1.5) translate(-50%,-50%);
    background: $orange;
    opacity: .8;
}

.cursor-out{
    display: none;
}
// links

@import './nav';
@import './intro';
@import './about';