$white : #f4f4f4;
$orange : #F0A500;


body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Architects Daughter',cursive;
    overflow-x: hidden;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
}

@import '_nav';
@import '_productFilter';
@import '_product-items'