.contact{
    margin: 120px 0;
}
.contact__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact-title{
    text-align: center;
    margin-bottom: 60px;
    font-size: 50px;
    font-weight: 600;
    color: $darkBlue;
}
.contact-text{
    display: flex;
    align-items: center;
    color: $darkBlue;

    &:first-child{
        margin-bottom: 20px;
        font-weight: bold;
        text-decoration: underline;
    }
}

.contact-img{
   height: 25px;
   margin: 10px 10px;
   margin-left: 0;
}
.contact-link{
    text-decoration: none;
    color: $darkBlue;
    cursor: pointer;

    &:hover{
        text-decoration: underline;
    }
}
.contact-map{
    max-width: 400px;
    width: 100%;
}

.footer{
    width: 100%;
    background-color: $darkBlue;
    color: $white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60px;
    margin-top: -60px;
    clear: both;
}

@media screen and (max-width:830px){
    .contact__inner{
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 580px){
    .contact__inner{
        flex-direction: column;
        justify-content: center;
    }
    .contact-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 440px){
    .contact-title{
        font-size: 35px;
    }
}

@media screen and (max-width:355px){
    .footer{
        font-size: 12px;
    }
}