.offers{
    margin: 50px 0;
    overflow: hidden;
}
.offerCard-inner{
    display: flex;
    flex-wrap: wrap;
}
.offer-title{
    text-align: center;
    color: $darkBlue;
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 600;
    margin-top: 20px;
}
.offer-card{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: $darkBlue;
    border-radius: 15px;
    margin-right: 15px;
    margin-bottom: 15px;

    &:last-child{
        margin-right: 0;
    }
}
.offerCard-img{
    height: 35px;
}
.offerCard-text{
    font-size: 20px;
    color: $white;
    margin-left: 15px;
}

@media screen and (max-width: 1124px){
    .offerCard-text{
        font-size: 17px;
    }
}
@media screen and (max-width: 968px){
    .offerCard-text{
        font-size: 15px;
    }
}
@media screen and (max-width: 886px){
    .offer-title{
        font-size: 40px;
    }
    .offer-card{
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:660px){
    .offer-card{
        margin: auto;
        margin-bottom: 15px;
    }
}
@media screen and (max-width:375px){
    .offer-title{
        font-size: 30px;
    }
    .offerCard-img{
        height: 30px;
    }
    .offerCard-text{
        font-size: 12px;
    }
}
@media screen and (max-width:275px){
    .offer-title{
        font-size: 25px;
    }
    .offerCard-img{
        height: 25px;
    }
    .offerCard-text{
        font-size: 10px;
    }
}