@font-face {
  font-family: mgvlovani;
  src: url("../../fonts/bpg_mrgvlovani_caps_2010.ttf");
}

body {
  font-family: mgvlovani;
  font-size: 15px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
}

.main-logo {
  text-decoration: none;
  position: fixed;
  top: 10px;
  left: 100px;
  z-index: 100;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50PX;
  width: 50PX;
}

.main-logo img {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .main-logo {
    left: 50px;
  }
}

@media screen and (max-width: 730px) {
  .main-logo {
    left: 30px;
  }
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 100;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #008891;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.nav-link {
  text-align: center;
  margin-bottom: 60px;
  text-decoration: none;
  color: #E7E7DE;
  position: relative;
  cursor: pointer;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.nav-link:last-child {
  margin-bottom: 0;
}

.nav-link:after {
  content: '';
  height: 2px;
  position: absolute;
  bottom: -3px;
  left: 0;
  background-color: #E7E7DE;
  width: 100%;
  margin: auto;
  border-radius: 80px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.nav-link:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.burger {
  padding: 10px;
  background-color: #0F3057;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 100px;
  z-index: 1000;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.line {
  width: 25px;
  height: 4px;
  border-radius: 5px;
  background-color: #E7E7DE;
  margin: 0 auto 5px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.line:last-child {
  margin-bottom: 0;
}

.line2 {
  width: 25px;
  -webkit-transform: scaleX(0.7);
          transform: scaleX(0.7);
  -webkit-transform-origin: right;
          transform-origin: right;
}

@media screen and (max-width: 1024px) {
  .burger {
    right: 50px;
  }
}

@media screen and (max-width: 730px) {
  .burger {
    right: 30px;
  }
}

@media screen and (max-width: 680px) {
  nav {
    width: 80%;
  }
}

@media screen and (max-width: 310px) {
  nav {
    width: 100%;
  }
}

.burger-active {
  right: 20px;
  background-color: transparent;
}

.line2-active {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.line3-active {
  -webkit-transform: rotate(45deg) translate(-5px, -8px);
          transform: rotate(45deg) translate(-5px, -8px);
}

.line1-active {
  -webkit-transform: rotate(-45deg) translate(-5px, 8px);
          transform: rotate(-45deg) translate(-5px, 8px);
}

.nav-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.swiper-container {
  height: 90vh;
  background-color: #000000;
}

.intro-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .3;
}

.intro {
  position: absolute;
  left: 100px;
  z-index: 10;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.introTitle {
  font-size: 75px;
  font-weight: bold;
  color: #E7E7DE;
}

.introSup {
  font-size: 20px;
  font-weight: bold;
  color: #E7E7DE;
  margin-top: 20px;
}

@media screen and (max-width: 796px) {
  .intro {
    left: 50px;
  }
  .introTitle {
    font-size: 60px;
  }
  .introSup {
    font-size: 15px;
  }
}

@media screen and (max-width: 675px) {
  .intro {
    left: 20px;
  }
  .introTitle {
    font-size: 40px;
  }
  .introSup {
    font-size: 12px;
    margin-top: 12px;
  }
  .introBtn {
    font-size: 12px;
    width: 140px;
    padding: 12px 22.5px;
    margin-top: 25px;
  }
}

.service-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 35vh;
}

.service-card {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.service-card:hover .service-title {
  background-color: #E7E7DE;
  color: #0F3057;
}

.service-card:hover .service-cards-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.service-card-geodezia {
  background: url("../../img/bg2.jpg") center/cover;
  -o-object-fit: contain;
     object-fit: contain;
}

.service-card-hydro {
  background: url("../../img/10.jpg") center/cover;
  -o-object-fit: contain;
     object-fit: contain;
}

.service-card-agaraki {
  background: url("../../img/5.jpg") center/cover;
  -o-object-fit: contain;
     object-fit: contain;
}

.service-cards-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.service-title {
  padding: 12px 40px;
  font-size: 20px;
  font-weight: 500;
  color: #E7E7DE;
  border-radius: 20px;
  border: 2px solid #E7E7DE;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 1040px) {
  .service-title {
    font-size: 15px;
  }
}

@media screen and (max-width: 824px) {
  .service-title {
    font-size: 12px;
  }
}

@media screen and (max-width: 710px) {
  .service-title {
    padding: 10px 25px;
  }
}

@media screen and (max-width: 616px) {
  .service-title {
    padding: 8px 18px;
  }
}

@media screen and (max-width: 578px) {
  .service-title {
    font-size: 10px;
  }
}

@media screen and (max-width: 492px) {
  .service-title {
    font-size: 10px;
    text-align: center;
    margin: 0 5px;
  }
}

@media screen and (max-width: 460px) {
  .service-cards {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service-card {
    margin: auto;
    width: 100%;
    height: 100%;
  }
}

.aboutUs {
  margin: 35px 0;
  background-color: #0F3057;
  padding: 80px;
  -webkit-clip-path: polygon(0 0, 0 0, 0 85%, 0 85%);
          clip-path: polygon(0 0, 0 0, 0 85%, 0 85%);
}

.aboutUs-card {
  max-width: 1045px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #E7E7DE;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.aboutUsCard-content {
  padding-left: 35px;
  width: 50%;
}

.aboutUs-title {
  color: #0F3057;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 25px;
}

.aboutUs-text {
  font-size: 15px;
  color: #0F3057;
  font-weight: 400;
  max-width: 350px;
  width: 100%;
}

.aboutUsCard-img {
  width: 50%;
}

.aboutUs-content:after {
  content: '';
  height: 160px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #000;
  width: 160px;
  margin-top: 100px;
  z-index: 1000000;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 980px) {
  .aboutUs-title {
    font-size: 30px;
  }
  .aboutUs-text {
    font-size: 12px;
    max-width: 270px;
  }
}

@media screen and (max-width: 800px) {
  .aboutUs-title {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .aboutUs-text {
    font-size: 12px;
    max-width: 270px;
  }
  .aboutUsCard-content {
    padding-left: 15px;
  }
}

@media screen and (max-width: 755px) {
  .aboutUs {
    padding: 40px;
  }
  .aboutUs-card {
    max-width: 740px;
  }
}

@media screen and (max-width: 648px) {
  .aboutUs-title {
    font-size: 20px;
  }
  .aboutUs-text {
    font-size: 10px;
    max-width: 240px;
  }
}

@media screen and (max-width: 570px) {
  .aboutUs-title {
    font-size: 15px;
  }
  .aboutUs-text {
    font-size: 8px;
    max-width: 260px;
  }
  .aboutUsCard-img {
    width: 40%;
  }
}

@media screen and (max-width: 490px) {
  .aboutUs {
    background: url("../../img/2.jpg") center/cover;
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 20px;
  }
  .aboutUsCard-img {
    display: none;
  }
  .aboutUs-card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 30px;
    max-width: 500px;
  }
  .aboutUs-title {
    font-size: 25px;
  }
  .aboutUs-text {
    font-size: 12px;
    margin: auto;
    width: 100%;
  }
  .aboutUsCard-content {
    padding: 0;
    width: 100%;
    text-align: center;
  }
}

.offers {
  margin: 50px 0;
  overflow: hidden;
}

.offerCard-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offer-title {
  text-align: center;
  color: #0F3057;
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 600;
  margin-top: 20px;
}

.offer-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background-color: #0F3057;
  border-radius: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.offer-card:last-child {
  margin-right: 0;
}

.offerCard-img {
  height: 35px;
}

.offerCard-text {
  font-size: 20px;
  color: #E7E7DE;
  margin-left: 15px;
}

@media screen and (max-width: 1124px) {
  .offerCard-text {
    font-size: 17px;
  }
}

@media screen and (max-width: 968px) {
  .offerCard-text {
    font-size: 15px;
  }
}

@media screen and (max-width: 886px) {
  .offer-title {
    font-size: 40px;
  }
  .offer-card {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 660px) {
  .offer-card {
    margin: auto;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 375px) {
  .offer-title {
    font-size: 30px;
  }
  .offerCard-img {
    height: 30px;
  }
  .offerCard-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 275px) {
  .offer-title {
    font-size: 25px;
  }
  .offerCard-img {
    height: 25px;
  }
  .offerCard-text {
    font-size: 10px;
  }
}

.production {
  margin: 120px 0;
}

.production-title {
  font-size: 50px;
  color: #0F3057;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 600;
}

.production-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.production-card {
  -webkit-transform-origin: top;
          transform-origin: top;
  width: 25%;
  position: relative;
  overflow: hidden;
  height: 250px;
  cursor: pointer;
}

.production-card:hover .productionCard-inner {
  background-color: rgba(0, 136, 145, 0.7);
  opacity: 1;
}

.productionCard-img {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.productionCard-inner {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 136, 145, 0);
  color: #E7E7DE;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.production-text {
  max-width: 250px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .production-card {
    width: 50%;
  }
  .productionCard-img {
    width: 100%;
  }
}

@media screen and (max-width: 594px) {
  .production-card {
    width: 100%;
  }
  .production-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productionCard-img {
    width: 100%;
  }
}

@media screen and (max-width: 424px) {
  .production-title {
    font-size: 35px;
  }
}

@media screen and (max-width: 280px) {
  .production-title {
    font-size: 25px;
  }
}

.contact {
  margin: 120px 0;
}

.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 50px;
  font-weight: 600;
  color: #0F3057;
}

.contact-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0F3057;
}

.contact-text:first-child {
  margin-bottom: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.contact-img {
  height: 25px;
  margin: 10px 10px;
  margin-left: 0;
}

.contact-link {
  text-decoration: none;
  color: #0F3057;
  cursor: pointer;
}

.contact-link:hover {
  text-decoration: underline;
}

.contact-map {
  max-width: 400px;
  width: 100%;
  pointer-events: none;
}

.footer {
  width: 100%;
  background-color: #0F3057;
  color: #E7E7DE;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 60px;
  margin-top: -60px;
  clear: both;
}

@media screen and (max-width: 830px) {
  .contact__inner {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 580px) {
  .contact__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 440px) {
  .contact-title {
    font-size: 35px;
  }
}

@media screen and (max-width: 355px) {
  .footer {
    font-size: 12px;
  }
}

.newsNav {
  background-color: #0F3057;
}

.newsIntro {
  height: 100vh;
  width: 100%;
  background-color: #008891;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsIntro-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #E7E7DE;
  font-size: 80px;
  font-weight: bold;
  overflow: hidden;
}

@media screen and (max-width: 720px) {
  .newsIntro-title {
    font-size: 65px;
  }
}

@media screen and (max-width: 472px) {
  .newsIntro-title {
    font-size: 45px;
  }
}

.news-cards {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 140px;
}

.news-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.newsCard-img {
  max-width: 500px;
  width: 100%;
  margin-right: 50px;
}

.newsCard-inner {
  max-width: 420px;
  width: 100%;
  color: #0F3057;
}

.newsCard-title {
  font-weight: 600;
  font-size: 30px;
}

.newsCard-text {
  font-size: 12px;
}

@media screen and (max-width: 720px) {
  .newsCard-img {
    margin-right: 20px;
  }
}

@media screen and (max-width: 500px) {
  .news-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newsCard-img {
    margin-right: 0;
  }
  .newsCard-inner {
    margin-top: 20px;
  }
}

body {
  background-color: #E7E7DE;
}

.geoIntro {
  height: 50vh;
  background: url("../../img/11.jpg") center/cover;
}

.geoIntroOverlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.geoIntro-title {
  font-size: 75px;
  font-weight: bold;
  color: #E7E7DE;
}

.geodeziaCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.geodeziaCard {
  max-width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  min-height: 400px;
  background-color: #fff;
  -webkit-box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  text-align: center;
  margin: 15px;
}

.geodeziaCard-title {
  font-size: 25px;
  color: #0F3057;
  margin-bottom: 35px;
  font-weight: bold;
}

.geodeziaCard-text {
  font-size: 15px;
  color: #0F3057;
}

@media screen and (max-width: 650px) {
  .geoIntro-title {
    font-size: 60px;
  }
  .geodeziaCards {
    margin: 20px 0;
  }
}

@media screen and (max-width: 436px) {
  .geoIntro-title {
    font-size: 40px;
  }
  .geodeziaCard-title {
    font-size: 20px;
  }
  .geodeziaCard-text {
    font-size: 12px;
  }
}

.hydro-intro {
  background: url("../../img/hydro-intro.jpg") center/cover;
  -o-object-fit: contain;
     object-fit: contain;
  height: 50vh;
  width: 100%;
}

.hydro-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 75px;
  font-weight: bold;
  color: #E7E7DE;
}

.hydro-content-container {
  padding-bottom: 120px;
}

.hydro-content {
  margin: 60px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hydroInner-title {
  font-size: 30px;
  color: #0F3057;
  font-weight: 700;
  margin-bottom: 35px;
}

.hydroInner-text {
  max-width: 600px;
  width: 100%;
  color: #0F3057;
  font-size: 15px;
}

.hydroContent-img {
  max-width: 700px;
  width: 100%;
  margin-left: 20px;
}

@media screen and (max-width: 930px) {
  .hidroIntro-title {
    font-size: 60px;
  }
  .hydroContent-img {
    max-width: 450px;
  }
}

@media screen and (max-width: 725px) {
  .hidroIntro-title {
    font-size: 45px;
  }
  .hydroContent-img {
    max-width: 350px;
  }
  .hydroInner-title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .hydroInner-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 675px) {
  .hydro-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hydroInner-title {
    text-align: center;
    margin-bottom: 15px;
  }
  .hydroInner-text {
    text-align: center;
  }
  .hydro-inner {
    margin-bottom: 20px;
  }
  .hydroContent-img {
    max-width: 500px;
    margin: 0;
  }
}

@media screen and (max-width: 550px) {
  .hidroIntro-title {
    font-size: 35px;
  }
}

@media screen and (max-width: 435px) {
  .hidroIntro-title {
    font-size: 25px;
  }
  .hydroInner-title {
    font-size: 15px;
  }
}

.agaraki-intro {
  background: url("../../img/4.jpg") center/cover;
  height: 60vh;
  width: 100%;
}

.agaraki-overlay {
  height: 60vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.agarakiIntro-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.agarakiIntro-title {
  font-weight: bold;
  font-size: 75px;
  color: #E7E7DE;
}

.agarakiIntro-text {
  font-size: 20px;
  max-width: 800px;
  width: 100%;
  color: #E7E7DE;
  margin: 25px auto 0;
}

.agaraki-cards {
  padding-bottom: 120px;
}

.agaraki-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 10px;
}

.agarakiCard-img {
  max-width: 400px;
  margin-right: 20px;
}

.agarakiCard-inner {
  max-width: 500px;
  width: 100%;
}

.agarakiCard-title {
  font-size: 30px;
  font-weight: bold;
  color: #0F3057;
  margin-bottom: 15px;
}

.agarakiCard-text {
  color: #0F3057;
  font-weight: normal;
}

@media screen and (max-width: 1030px) {
  .agarakiIntro-title {
    font-size: 60px;
  }
  .agarakiIntro-text {
    font-size: 15px;
    max-width: 500px;
  }
}

@media screen and (max-width: 1030px) {
  .agarakiIntro-title {
    font-size: 45px;
  }
  .agarakiIntro-text {
    font-size: 15px;
    max-width: 500px;
  }
  .agarakiCard-title {
    font-size: 20px;
  }
  .agarakiCard-text {
    min-width: 350px;
  }
}

@media screen and (max-width: 650px) {
  .agaraki-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .agarakiCard-text {
    text-align: center;
  }
  .agarakiCard-title {
    text-align: center;
  }
  .agarakiCard-img {
    margin: 0 auto 25px;
    width: 100%;
  }
  .agarakiCard-inner {
    margin: auto;
  }
}
/*# sourceMappingURL=main.css.map */