.agaraki-intro{
    background: url('../../img/2.jpg') center/cover;
    height: 60vh;
    width: 100%;
}

.agaraki-overlay{
    height: 60vh;
    width: 100%;
    background: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.agarakiIntro-inner{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.agarakiIntro-title{
    font-weight: bold;
    font-size: 75px;
    color: $white;
}
.agarakiIntro-text{
    font-size: 20px;
    max-width: 800px;
    width: 100%;
    color: $white;
    margin: 25px auto 0;
}

// -----agaraki cards---------

.agaraki-cards{
    padding-bottom: 120px;
}

.agaraki-card{
    display: flex;
    justify-content: center;
    margin: 50px 10px;
}
.agarakiCard-img{
    max-width: 400px;
    margin-right: 20px;
}
.agarakiCard-inner{
    max-width: 500px;
    width: 100%;
}
.agarakiCard-title{
    font-size: 30px;
    font-weight: bold;
    color: $darkBlue;
    margin-bottom: 15px;
}
.agarakiCard-text{
    color: $darkBlue;
    font-weight: normal;
}

// --------responsive------------

@media screen and (max-width: 1030px){
    .agarakiIntro-title{
        font-size: 60px;
    }
    .agarakiIntro-text{
        font-size: 15px;
        max-width: 500px;
    }
}

@media screen and (max-width: 1030px){
    .agarakiIntro-title{
        font-size: 45px;
    }
    .agarakiIntro-text{
        font-size: 15px;
        max-width: 500px;
    }
    .agarakiCard-title{
        font-size: 20px;
    }
    .agarakiCard-text{
        min-width: 350px;
    }
}
@media screen and (max-width: 650px){
    .agaraki-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .agarakiCard-text{
        text-align: center;
    }
    .agarakiCard-title{
        text-align: center;
    }
    .agarakiCard-img{
        margin: 0 auto 25px;
        width: 100%;
    }
    .agarakiCard-inner{
        margin: auto;
    }
}
