.currentProject-container {
    margin: 180px auto;
    padding: 0 10px;

    .row {
        margin-bottom: 120px;
    }
}

.currentProject-content {
    position: absolute;
    padding: 50px;
    background: linear-gradient(to bottom right, $green, $blue);
    right: -10%;
    z-index: 1;
    bottom: -10%;
}

.projectContent-title {
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
    color: white;
}

.projectContent-text {
    font-size: 1rem;
    max-width: 560px;
    width: 100%;
    color: white;
    font-weight: 300;
}

.currentProject-img {
    img {
        max-width: 650px;
        width: 100%;
    }

    &::before {
        content: '';
        width: 70%;
        height: 100%;
        position: absolute;
        right: 20px;
        top: -20px;
        z-index: -1;
        border: 3px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to bottom right, $green, $blue);
    }
}

.projectContent-reverse {
    left: -10%;
    // right: auto;
}

.currentProject-img-reverse {
    img {
        margin-left: auto;
    }

    &::before {
        left: 20px;
    }
}

@media screen and (max-width: 1450px) {
    .currentProject-img {
        &::before{
            right: -20px;
        }
    }
    .currentProject-img-reverse {
        &::before {
            left: -20px;
        }
    }
}

@media screen and (max-width: 992px){
    .currentProject-content{
        padding: 35px;
    }
    .projectContent-title{
        font-size: 1.7rem;
        margin-bottom: .8rem;
    }
    .projectContent-text{
        font-size: .8rem;
    }
}
@media screen and (max-width: 767px){
    .currentProject-content{
        padding: 20px;
        right: 0;
        position: relative;
    }
    .projectContent-title{
        font-size: 1.6rem;
        margin-bottom: .7rem;
    }
    .projectContent-text{
        font-size: .8rem;
    }
    .projectContent-reverse{
        left: 0;
    }
}