.main-info-container{
    position: relative;
    height: 100vh;
}

.main-info-content{
    padding: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.currWeather-info{
    display: flex;
}

.currTemp{
    --temp-size: 200px;
    font-size: var(--temp-size);
    font-weight: bold;
}

.weatherCond{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 60px;
}

.weatherCond-icon{
    height: 150px;
    width: 150px;
}

.weatherDesc{
    text-align: center;
}

.currPlace{
   font-size: 96px; 
   font-weight: 600;
}

.currDate{
    display: flex;
    font-size: 24px;
    font-weight: 200;
}

.currDate-month{
    margin-right: 25px;
}

// forecast container-----------------

.forecast-title{
    font-size: 24px;
    font-weight: 500;
    margin: 55px 0 40px;
}

.forecast-row{
    width: 100%;
    display: flex;
}

.forecast-card{
    background-color: #2B2B2B;
    width: 215px;
    border-radius: 20px;
    padding: 15px;
}

.forecast-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.forecast-day{
    font-size: 13px;
    font-weight: 500;
}

.forecast-icon{
    width: 32px;
    height: 32px;
}

.forecast-day-info{
    text-align: center;
}

.forecast-temp {
    font-size: 36px;
    font-weight: 500;
    margin: auto;
}

.forecast-cond{
    font-size: 13px;
    margin-left: 6px;
    margin-bottom: 12px;
}

.forecast-date{
    text-align: center;
    font-size: 13px;
    margin-bottom: 6px;
    font-weight: 300;
}

.forecast-time{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}