body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #000000;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --input-padding-sides: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .4;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.temp-circle-big {
  position: relative;
}

.temp-circle-big:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 10px solid #fff;
  position: absolute;
  right: -40px;
  top: 50px;
  z-index: 1;
}

.temp-circle-small {
  display: inline-block;
  position: relative;
}

.temp-circle-small:after {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 3px solid #fff;
  position: absolute;
  right: -10px;
  top: 3px;
  z-index: 1;
}

.main-info-container {
  position: relative;
  height: 100vh;
}

.main-info-content {
  padding: 50px;
  margin-top: auto;
}

.currWeather-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.currTemp {
  font-size: 200px;
  font-weight: bold;
}

.weatherCond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 60px;
}

.weatherCond-icon {
  height: 150px;
  width: 150px;
}

.weatherDesc {
  text-align: center;
}

.currPlace {
  font-size: 96px;
  font-weight: 600;
}

.currDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  font-weight: 200;
}

.currDate-month {
  margin-right: 25px;
}

.data-con {
  height: 100vh;
  overflow-y: auto;
  width: 40vw;
  background-color: rgba(33, 33, 33, 0.8);
  padding: 50px 30px 50px 30px;
  margin-left: auto;
}

.logo {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 35px;
}

.constum-field {
  position: relative;
  width: 75%;
  margin-bottom: 75px;
}

#searchBar {
  border-radius: 40px;
  padding: 12px var(--input-padding-sides);
  background-color: #fff;
  font-size: 14px;
  outline: none;
  width: 100%;
}

#searchBar::-webkit-input-placeholder {
  color: #8F8F8F;
  opacity: .7;
  font-size: 14px;
}

#searchBar:-ms-input-placeholder {
  color: #8F8F8F;
  opacity: .7;
  font-size: 14px;
}

#searchBar::-ms-input-placeholder {
  color: #8F8F8F;
  opacity: .7;
  font-size: 14px;
}

#searchBar::placeholder {
  color: #8F8F8F;
  opacity: .7;
  font-size: 14px;
}

.mainBtn {
  position: absolute;
  right: var(--input-padding-sides);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  background: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainBtn svg {
  width: 24px;
  height: 24px;
  fill: black;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mainBtn:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 50%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.mainBtn:hover:before {
  height: 40px;
  width: 40px;
}

.mainBtn:hover svg {
  fill: white;
}

.currWeather-title {
  font-size: 36px;
  margin-bottom: 40px;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row-title {
  font-size: 18px;
  margin-bottom: 10px;
  opacity: .6;
}

.row-card {
  margin-right: 10px;
}

.row-data {
  font-size: 24px;
  margin-bottom: 40px;
}

@media screen and (max-width: 975px) {
  .currTemp {
    font-size: 120px;
  }
  .temp-circle-big:after {
    right: -40px;
    top: 25px;
  }
  .weatherCond-icon {
    height: 80px;
    width: 80px;
  }
  .currPlace {
    font-size: 48px;
  }
  .currDate {
    font-size: 14px;
  }
  .data-con {
    width: 55vw;
  }
  .logo {
    font-size: 24px;
  }
  .constum-field {
    width: 90%;
  }
  .currWeather-title {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main-info-container {
    height: 10vh;
  }
  .data-con {
    width: 100vw;
    height: 60vh;
  }
  .logo {
    font-size: 24px;
  }
  .constum-field {
    width: 90%;
  }
  .currWeather-title {
    font-size: 24px;
  }
}

@media screen and (max-width: 576px) {
  .main-info-content {
    padding: 25px;
  }
  .row-data {
    font-size: 14px;
  }
  .row-title {
    font-size: 12px;
  }
  .temp-circle-small:after {
    width: 4px;
    height: 4px;
    border: 1px solid #fff;
    right: -8px;
    top: 0px;
  }
}
/*# sourceMappingURL=main.css.map */