body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
}

nav {
  height: 6vh;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 6vh;
}

.nav__logo {
  color: #f4f4f4;
  font-size: 45px;
  font-weight: 600;
}

.nav__links {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__link {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 20px;
  margin-right: 30px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.nav__link:hover {
  color: #F0A500;
}

.burger {
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.burger div {
  height: 3px;
  width: 25px;
  background-color: white;
  margin-top: 5px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

@media screen and (max-width: 662px) {
  .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 6vh;
    right: 0;
    height: 94vh;
    width: 100%;
    background: #000;
    text-align: center;
    padding: 25vh 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .nav__links .nav__link {
    margin: 40px auto;
  }
  .burger {
    display: block;
    cursor: pointer;
    padding: 5px;
  }
}

@media screen and (max-height: 845px) {
  .nav__links {
    padding: 15vh 0;
  }
  .nav__logo {
    font-size: 30px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.nav__active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.burger__exit1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.burger__exit2 {
  opacity: 0;
}

.burger__exit3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.nav__link-active {
  color: #F0A500;
}

.intro {
  background: url("../img/burger.jpeg") center no-repeat;
  background-size: cover;
  height: 100vh;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.intro__content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.intro__sup {
  font-size: 30px;
  color: #F0A500;
  margin-bottom: -30px;
}

.intro__title {
  font-size: 100px;
  font-weight: 600;
  color: #f4f4f4;
}

.intro__text {
  font-size: 20px;
  max-width: 520px;
  width: 100%;
  color: #f4f4f4;
  font-weight: 300;
}

.intro__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__socialLink {
  text-decoration: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.intro__socialLink img {
  height: 50px;
  width: 50px;
  margin-top: 25px;
  margin-right: 30px;
}

.intro__socialLink:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.intro__btn {
  font-size: 25px;
  font-weight: 600;
  margin-top: 60px;
  padding: 10px 30px;
  border: 2px solid #f4f4f4;
  width: 180px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.intro__btn a {
  text-decoration: none;
  color: #f4f4f4;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.intro__btn:hover {
  background-color: #f4f4f4;
}

.intro__btn:hover a {
  color: black;
}

@media (max-width: 500px) {
  .intro__sup {
    font-size: 20px;
    color: #F0A500;
    margin-bottom: -20px;
  }
  .intro__title {
    font-size: 60px;
  }
  .intro__text {
    max-width: 320px;
    font-size: 15px;
  }
  .intro__socialLink img {
    height: 35px;
    width: 35px;
    margin-right: 15px;
  }
  .intro__btn {
    font-size: 20px;
    margin-top: 40px;
  }
}

.aboutUs {
  padding: 40px 0;
  position: relative;
}

.about__title {
  font-weight: 600;
  font-size: 75px;
  text-align: center;
}

.about__sup {
  font-size: 30px;
  font-family: 'Architects Daughter', cursive;
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 767px) {
  .aboutUs__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.aboutUs__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.aboutUs__img img {
  width: 100%;
}

@media (min-width: 767px) {
  .aboutUs__img {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .aboutUs__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 50px;
  }
}

.aboutUs__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutUs__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 45px;
  font-size: 20px;
  line-height: 30px;
}

@media (min-width: 767px) {
  .aboutUs__body {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .aboutUs__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 40px 40px;
  }
  .aboutUs__text {
    margin: 0;
  }
}

.element {
  position: absolute;
}

.element img {
  height: 50px;
}

.element-1 {
  top: 20%;
  left: 80%;
  z-index: 10000;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.element-2 {
  top: 5%;
  left: 45%;
  z-index: 10000;
}

.element-3 {
  top: 70%;
  left: 30%;
  z-index: 10000;
  -webkit-transform: rotate(75deg);
          transform: rotate(75deg);
}

.element-4 {
  top: 10%;
  left: 7%;
  z-index: 10000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.element-5 {
  top: 50%;
  left: 20%;
  z-index: 10000;
}

@media (max-width: 500px) {
  .about__title {
    font-size: 45px;
  }
  .about__sup {
    font-size: 15px;
    margin-bottom: 0;
  }
  .aboutUs__text {
    font-size: 15px;
    line-height: 20px;
  }
  .aboutUs__body {
    padding: 20px 0 40px;
  }
}

.testimonials {
  background: url("../img/photo.jpeg") center no-repeat;
  background-size: cover;
}

.testimonials__overlay {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 50px;
}

.testimonial__title {
  font-weight: 600;
  font-size: 65px;
  text-align: center;
}

.testimonial__sup {
  font-size: 30px;
  font-family: 'Architects Daughter', cursive;
  text-align: center;
  margin-bottom: 100px;
}

.your-class {
  max-width: 550px;
  width: 100%;
  margin: auto;
}

.card {
  background-color: #fff;
  padding: 25px 40px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

.testimonial__name {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 10px;
  font-size: 20px;
  color: #F0A500;
}

.avatar {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
}

.card__text {
  padding-left: 55px;
}

@media (max-width: 500px) {
  .testimonial__title {
    font-size: 35px;
  }
  .testimonial__sup {
    font-size: 15px;
    margin-bottom: 50px;
  }
}

@media (max-width: 450px) {
  .card__text {
    padding-left: 0;
  }
  .card {
    padding: 15px 20px;
  }
}

.news {
  padding: 30px;
}

.news__title {
  font-weight: 600;
  font-size: 75px;
  text-align: center;
}

.news__sup {
  font-size: 30px;
  font-family: 'Architects Daughter', cursive;
  text-align: center;
  margin-bottom: 40px;
}

.news__card {
  max-width: 725px;
  width: 100%;
  margin: 0 auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__img {
  max-width: 280px;
  width: 100%;
  height: 170px;
  background-color: #c3c3c3;
}

.news__content {
  margin-left: 25px;
}

.news__cardTitle {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 5px;
}

.news__cardtext {
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px;
}

.news__cardbtn {
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 50px;
  width: 80px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.news__cardbtn:hover {
  background-color: black;
  color: #f4f4f4;
}

.news__content-right {
  margin-left: 0;
  margin-right: 25px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.news__cardbtn-right {
  text-align: right;
}

.news__more {
  border: 1px solid black;
  padding: 5px 20px;
  background-color: black;
  color: #F0A500;
  width: 125px;
  margin: 0 auto;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.news__more:hover {
  color: black;
  background-color: #F0A500;
}

.news__wrapper {
  display: none;
}

@media (max-width: 500px) {
  .news__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news__img {
    margin-top: 10px;
  }
  .news__content {
    margin-left: 0;
  }
  .news__content-right {
    margin-right: 0;
  }
  .news__title {
    font-size: 40px;
  }
  .news__sup {
    font-size: 20px;
  }
}

.footer {
  margin-top: 50px;
  background-color: #F0A500;
  padding: 15px 0;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */