.newsNav{
    background-color: $darkBlue;
}
.newsIntro{
    height: 100vh;
    width: 100%;
    background-color: $lightBlue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsIntro-title{
    display: flex;
    color: $white;
    font-size: 80px;
    font-weight: bold;
    overflow: hidden;
}

@media screen and (max-width: 720px){
    .newsIntro-title{
        font-size: 65px;
    }
}
@media screen and (max-width: 472px){
    .newsIntro-title{
        font-size: 45px;
    }
}