.section {
  display: flex;
  align-items: center;
  height: 70vh;
  overflow: hidden;
  position: relative;
}

.section-img {
  background: url("../assets/headphone-back.jpg") no-repeat center;
  filter: blur(10px);
  background-size: cover;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: scale(1.3);
}

.section-content {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}

// .section-img img {
//   opacity: 0.51;
//   border-radius: 1rem;
// }

// .section-content {
//   width: 100%;
//   padding: 0 2rem;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   text-align: center;
// }

.section-title {
  font-size: 2rem;
  font-weight: bold;
  max-width: 50rem;
  width: 100%;
  margin: 0 auto 2.5rem;
}

.section-btns {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.section-btn {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-weight: bold;
  color: $bgColor;
  text-decoration: none;
  background-color: $text-white;
  border-radius: 1rem;
  padding: 1rem 2rem;
  border: 1px solid $text-white;
  transition: all 0.3s ease-in-out;

  span {
    transition: all 0.3s ease-in-out;
  }
  span > svg > path {
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    background-color: transparent;
    color: $text-white;

    span {
      margin-left: 1rem;
    }
    span > svg > path {
      margin-left: 1rem;
      stroke: white;
    }
  }
}

.section-btn--outline {
  background-color: transparent;
  color: $text-white;
}

@media screen and (min-width: 576px) {
  .section-title {
    font-size: 4rem;
  }
  .section-sub {
    font-size: 1.5rem;
  }
}
