.video-section {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  text-align: center;
}

.video-section-content-container {
  padding: 4rem 0 0;
  background-color: #fff;
}

.headphone-video {
  max-width: 50rem;
  width: 100%;
}

.video-section-content {
  color: $bgColor;
  text-align: center;
}

.video-section--title {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.video-section--text {
  max-width: 34rem;
  width: 100%;
  margin: auto;
}
