body {
  font-family: 'Raleway', sans-serif;
  // font-family: 'Roboto', sans-serif;

  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

*,
::after,
::before {
  box-sizing: border-box;
}

// main colors 
$orange : #fb4d01;
$yellow : #fff51f;
$darkGrey : #333333;
$lightBlue : #26d2fc;
$lightGrey : #707070;

.container {
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
  margin: auto;
}

@import '_home';
@import '_mainContent';
@import 'brands';
@import '_instagramFeed';
@import '_socialFooter';
@import '_footer';